<form class="container" [formGroup]= "reactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nameValue">Name</label>
        <input type="text" class="form-control" id="nameValue" name="nama" placeholder="Text Input" formControlName="nameValue">
        <span style="color: red;" *ngIf = "getNameValue && getNameValue.invalid && getNameValue.touched">This field is Required</span>
        <br>
    </div>
    <div class="form-group">
        <label for="emailValue">Email</label>
        <input type="email" class="form-control" id="emailValue" placeholder="Text Input" name="email" formControlName="emailValue">
        <span style="color: red;" *ngIf = "getEmailValue && getEmailValue.invalid && getEmailValue.touched">This field is Required</span>
        <br>
    </div>
    <div class="form-group">
        <label for="phoneValue">Phone</label>
        <input type="tel" class="form-control" id="phoneValue" placeholder="Text Input" name="phone" formControlName="phoneValue">
        <span style="color: red;" *ngIf = "getPhoneValue && getPhoneValue.invalid && getPhoneValue.touched">This field is Required</span>
        <br>
    </div>

    <button type="submit" class="btn btn-primary" [disabled] = "reactForm.invalid">{{ (isUpdate) ? 'Update' : 'Add'}}</button>
</form>

<app-table [dataInput]="myObjArray" (delete)="getDataFunc()" (lemparKeForm)="ambilDariTable($event)"></app-table>