<form class="container" #userForm = "ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nameValue">Name</label>
        <input type="text" class="form-control" id="nameValue" name="nama" placeholder="Text Input" [(ngModel)]= "nameValue">
    </div>
    <div class="form-group">
        <label for="emailValue">Email</label>
        <input type="email" class="form-control" id="emailValue" placeholder="Text Input" name="email" [(ngModel)]= "emailValue">
    </div>
    <div class="form-group">
        <label for="contactValue">Contact</label>
        <input type="tel" class="form-control" id="contactValue" placeholder="Text Input" name="contact" [(ngModel)]= "contactValue">
    </div>

    <button type="submit" class="btn btn-primary">Add / Update</button>
</form>

<table class="table container">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of myObjArray">
            <td scope="row">{{ item.id }}</td>
            <td>{{ item.nama }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.contact }}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn btn-info">View</button>
                    <button class="btn btn-primary">Update</button>
                    <button class="btn btn-danger" (click)="deleteData(item.id)">Delete</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>